<!DOCTYPE html>
<html>
	<head>
		<title>YouStyle|Discover</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	</head> 
  <body>
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="YouStyle.png">
    </div>
    <div>
     <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/discover">Discover</a></li>
        <li><a href="/signout">Sign Out</a></li>
       
      </ul>
    </div>
		<h2 class="padding">Hello, <%=@user.username.capitalize%>!</h2>
		<h3>Clothing:</h3>
   </div>
  </nav>
		<h4>If you see clothing you like, you can either click on it to buy it, or you can select yes to add it to your favorites. If you do so, click the Add to Favorites button at the bottom of the page when you are done!</h4>
		<h2 id="resulttext">
			<form method="post" action='/account' id="results">
				<%@discoverend.each do |clothing| %>
			<br>
				<div id="things">
				<img id="clothingphoto" src="<%="#{@image = clothing ["image"]["sizes"]["IPhoneSmall"]["url"]}" %>">
					<br>
				<br>
			<a href="<%="#{clothing["pageUrl"]}" %>"><%="#{clothing["brandedName"]}, #{clothing["priceLabel"]}" %></a> 
			<br>
				<br>
				Yes
					<input type="radio" name="<%="#{clothing["id"]}"%>" value="yes">
			<br> 
				</div>
		<% end %>
				<input type="submit" value="Add to Favorites">
			</form>
<!--       <a href="/search2">Page 2</a> -->
      <form action="/search2" method="POST">
      <input type="submit" value="Page 2">
      <input type="hidden" name="type">
      </form>
		</h2>
    
 </body>
</html>