<!DOCTYPE html>
<html>
	<head>
		<title>YouStyle|Discover</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	</head> 
  <body>
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="YouStyle.png">
    </div>
    <div>
     <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/discover">Discover</a></li>
        <li><a href="/signout">Sign Out</a></li>
       
      </ul>
    </div>
		<h2 class="padding">Hello, <%=@user.username.capitalize%>!</h2>
		<h3>Clothing:</h3>
   </div>
  </nav>
		<h2 id="resulttext">
			<form method="post" action='/account' id="results">
				<%@discovernext.each_with_index do |clothing, i| %>
			<br>
				<div id="things">
				<img id="clothingphoto" src="<%="#{@image = clothing ["image"]["sizes"]["IPhoneSmall"]["url"]}" %>">
					<br>
				<br>
			<a href="<%="#{clothing["pageUrl"]}" %>"><%="#{clothing["brandedName"]}, #{clothing["priceLabel"]}" %></a> 
			<br>
				<br>
				Yes
				<input type="radio" name="<%="#{i}"%>" value="yes">
				No
				<input type="radio" name="<%="#{i}"%>" value="no">
			<br> 
				</div>
		<% end %>
				<input type="submit" value="Add to Favorites">
			</form>
			<button><a href="/search"><p>Page 1</p></a></button>
		</h2>
 </body>
</html>